.custom-nav {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    align-items: center;
}

.col-12 {
    flex: 1;
}

.ps-5 {
    padding-left: 3rem;
}

h4 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

h5 {
    font-size: 1.25rem;
    color: #666;
}

.bi {
    margin-right: 0.5rem;
}


.btn {
    background-color: #007bff; 
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 0.75rem; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100%;
}

.btn:hover {
    background-color: #0056b3; 
}