<div class="prelogin-form">
  <div class="my-4">
    <h4>Sign Up to Scribe</h4>
    <p>Create your account</p>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="userData">
    <div class="login-form-div">

      <div class="mb-4 position-relative">
        <input type="email" class="form-control ps__40" id="email" placeholder="Email" formControlName="email"
          [ngClass]="{ 'validation-input': userData.get('email')?.invalid && userData.get('email')?.touched || errorMessage }" />
        <i class="bi bi-envelope login-input-icon" style="font-size: 16px;"></i>
        <div class="validation-text"
          *ngIf="userData.get('email')?.hasError('required') && userData.get('email')?.touched">
          Email is required
        </div>
        <div class="validation-text"
          *ngIf="userData.get('email')?.hasError('invalidEmail') && userData.get('email')?.touched && !userData.get('email')?.hasError('required')">
          Invalid email format
        </div>
        <div class="validation-text" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>

      <div class="mb-4 position-relative">
        <input type="text" class="form-control ps__40" id="firstName" placeholder="First Name"
          formControlName="firstName"
          [ngClass]="{ 'validation-input': userData.get('firstName')?.invalid && userData.get('firstName')?.touched }" />
        <i class="bi bi-person login-input-icon"></i>
        <div *ngIf="userData.get('firstName')?.hasError('required') && userData.get('firstName')?.touched"
          class="validation-text">
          First Name is required.
        </div>
        <div class="validation-text"
          *ngIf="userData.get('firstName')?.hasError('error') && userData.get('firstName')?.touched && !userData.get('firstName')?.hasError('required')">
          {{ userData.get('firstName')?.getError('error') }}
        </div>
      </div>

      <div class="mb-4 position-relative">
        <input type="text" class="form-control ps__40" id="lastName" placeholder="Last Name" formControlName="lastName"
          [ngClass]="{ 'validation-input': userData.get('lastName')?.invalid && userData.get('lastName')?.touched }" />
        <i class="bi bi-person login-input-icon"></i>
        <div *ngIf="userData.get('lastName')?.hasError('required') && userData.get('lastName')?.touched"
          class="validation-text">
          Last Name is required.
        </div>
        <div class="validation-text"
          *ngIf="userData.get('lastName')?.hasError('error') && userData.get('lastName')?.touched && !userData.get('lastName')?.hasError('required')">
          {{ userData.get('lastName')?.getError('error') }}
        </div>
      </div>

      <div class="mb-4 position-relative">
        <input type="text" class="form-control ps__40" id="username" placeholder="Username" formControlName="username"
          [ngClass]="{ 'validation-input': userData.get('username')?.invalid && userData.get('username')?.touched }" />
        <i class="bi bi-person login-input-icon"></i>
        <div *ngIf="userData.get('username')?.hasError('required') && userData.get('username')?.touched"
          class="validation-text">
          Username is required.
        </div>
      </div>

      <div class="mb-4 position-relative">
        <input type="tel" class="form-control ps__40" id="phone" placeholder="Phone Number" formControlName="phone"
          [ngClass]="{ 'validation-input': userData.get('phone')?.invalid && userData.get('phone')?.touched }" />
        <i class="bi bi-telephone login-input-icon"></i>

        <div *ngIf="userData.get('phone')?.hasError('required') && userData.get('phone')?.touched"
          class="validation-text">
          Phone is required.
        </div>

        <div *ngIf="userData.get('phone')?.hasError('error') && userData.get('phone')?.touched" class="validation-text">
          Phone number must be at least 10 characters long.
        </div>
      </div>

      <div class="mb-4 position-relative">
        <input type="{{ passwordFieldType }}" class="form-control ps__40 pe-5" id="password" placeholder="Password"
          name="password" formControlName="password"
          [ngClass]="{ 'validation-input': userData.get('password')?.invalid && userData.get('password')?.touched }" />
        <i class="bi bi-lock login-input-icon"></i>
        <div class="passwor_show_icon" (click)="togglePasswordVisibility()">
          <i class="bi bi-eye-fill" *ngIf="passwordFieldType=='password'"></i>
          <i class="bi bi-eye-slash" *ngIf="passwordFieldType=='text'"></i>
        </div>
        <div class="validation-text"
          *ngIf="userData.get('password')?.hasError('required') && userData.get('password')?.touched">
          Password is required.
        </div>
        <div class="validation-text"
          *ngIf="userData.get('password')?.hasError('pattern') && userData.get('password')?.touched">
          Password must be at least 6 characters long and contain uppercase letters, lowercase letters, numbers, and
          special characters.
        </div>
      </div>

      <div class="mb-4">
        <div class="role-box">
          <h5>Select Your Role</h5>
          <div class="role-option">
            <div class="role">
              <input type="radio" value="AUTHOR" id="check-Author" formControlName="role" />
              <label for="check-Author">Author</label>
            </div>
            <div class="role">
              <input type="radio" value="READER" id="check-Reader" formControlName="role" />
              <label for="check-Reader">Reader</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary button-xl w-100"><b>Register</b></button>

    </div>
  </form>
  <div class="text-center act-text">
    <p> Already have an account? <a class="font-weight-500 ps-1 text-blue" routerLink="/login">Sign In</a></p>
  </div>
</div>